<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico" />
    <title>MSPC - Mapo Samgae Programming Challenge</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <%- include('navbar', { page: 'problems' }) %>

    <main>
      <div class="container mb-3">
      <% if (loggedIn) { %>
      <% if (problems) { %>
        <% let totalScore = 0; %>
        <% problems.forEach((problem) => { %>
        <% totalScore += problem.score; %>
        <% }); %>
        <% const userTotalScoreZero = userTotalScore ?? 0; %>
        <h4 class="mt-3"><b>* 문제는 대회 기간동안 순차적으로 공개됩니다</b></h4>
        <h4 class="mt-3"><b>내 총 점수</b></h4>
        <div id="total-score" class="progress" style="height: 60px">
        <% if (userTotalScoreZero === 0) { %>
          /<%= totalScore %>
        <% } else { %>
          <div class="progress-bar bg-dark" style="width: <%= (userTotalScoreZero / totalScore) * 100 %>%"><%= userTotalScoreZero %>/<%= totalScore %></div>
        <% } %>
        </div>
        <div class="list-group mt-3">
        <% problems.forEach((problem) => { %>
          <a href="/problems/<%= problem.id %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <h5 class="col-8 my-1"><%- `${problem.id}.&ensp;${problem.title}` %></h5>
            <div class="progress col-4" style="height: 30px">
            <% const userProblemScoresMap = new Map(Object.entries(userProblemScores)); %>
            <% if (userProblemScoresMap.get(`${problem.id}`)) { %>
              <div class="progress-bar bg-dark" style="width: <%= ((userProblemScoresMap.get(`${problem.id}`) ?? 0) / problem.score) * 100 %>%">
                <%= userProblemScoresMap.get(`${problem.id}`) ?? 0 %>/<%= problem.score %>
              </div>
            <% } else { %>
              /<%= problem.score %>
            <% } %>
            </div>
          </a>
        <% }); %>
        </div>
      <% } else { %>
        <h1 class="mt-4"><b>1학기 기말고사가 끝난 후 대회를 재개합니다</b></h1>
      <% } %>
      <% } else { %>
        <h1 class="mt-4"><b>로그인해주세요</b></h1>
      <% } %>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/global.js"></script>
  </body>
</html>
